@tailwind base;
@tailwind components;
@tailwind utilities;

.max-h-0 {
  max-height: 0; /* Ketinggian nol saat disembunyikan */
}

.max-h-[500px] {
  max-height: 500px; /* Batasi tinggi maksimum saat ditampilkan */
}

.opacity-0 {
  opacity: 0; /* Transparan saat disembunyikan */
}

.opacity-100 {
  opacity: 1; /* Tampak saat ditampilkan */
}

.rotate-180 {
  transform: rotate(180deg); /* Rotasi 180 derajat */
}

*{
  margin :0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}


.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3A6D8C;
  padding: 10px 36px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0;
  z-index: 1000;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.logo-name {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}
.search-bar {
  display: flex;
  align-items: center;
  background-color: white;
  border: 2px solid #ddd;
  border-radius: 25px;
  padding: 10px 20px;
  width: 500px;
  position: relative;
}

.search-bar input {
  border: none;
  outline: none;
  flex: 1;
  padding: 0 10px;
  font-size: 16px;
}

.srclogo{
  width: 20px;
  height: 20px;
}

.fa-magnifying-glass {
  margin-right: 10px;
}

.fa-sliders {
  margin-left: 10px;
  cursor: pointer;
}
.action-buttons {
  display: flex;
  align-items: center;
  margin: 0 30px;
}

.action-buttons button {
  margin: 0 10px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #3A6D8C;
  background-color: #ffffff; /* Warna background */
  font-size: 18px; /* Ukuran teks */
  border: none;
  border-radius: 50%; /* Membuat tombol berbentuk lingkaran */
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lacak{
  background-color: transparent; /* Tombol tanpa background */
  color: white; /* Warna teks putih */
  border: 2px solid white; /* Border putih dengan ketebalan 2px */
  padding: 10px 10px;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.action-buttons .location-btn{
  background: none;
  margin-right: 2rem;
  color: #ffffff;
}
.action-buttons .location-btn{
  margin-right: 2rem;
}
.action-buttons .location-btn p{
 margin: 10px;
}
.action-buttons button img {
  width: 24px;
  height: 24px;
}

.profile {
  margin-left: 10px;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 80px;
  padding: 36px;
}

.card {
  background-color: white;
  border: 1px solid #000000;
  border-radius: 20px;
  width: 211px;
  height: 360px;
  margin: 15px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.card img {
  width: 100%;
  height: 240px;
  border-radius: 10px 10px 0 0;
}

.card .info {
  margin-top: 10px;
}

.card .info .details {
  justify-content: space-between;
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #000000;
  
}
hr{
  margin: 10px 0;
  border: 0.3px solid;
}
.judul {
  font-size: 14px;
  color: #000000;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: left;
}
.order-btn {
  padding: 5px 12px;
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
  text-align: right;
}

.order-btn:hover {
  background-color: #3A6D8C;
  color: #ffffff;
}

.card:hover {
  transform: scale(1.05);
}
.detail-container {
  justify-content: space-between;
  align-items: flex-start;
  display: flex; /* Menggunakan Flexbox */
  gap: 20px; /* Memberikan jarak antara kolom */
}

.left-column {
  flex: 4; /* Kolom kiri akan lebih besar */
  background-color: #fff; /* Warna latar belakang kolom kiri */
  padding: 20px;
  justify-content: left;
}


h2 {
  margin-bottom: 10px;
}

p {
  margin-bottom: 15px;
}
.card-container {
  display: flex;
  justify-content: space-between; /* Mengatur jarak antar kolom */
 /* Menyelaraskan kolom secara vertikal */
  padding: 20px;
  padding-left: 0;
  background-color: none;
  gap: 20px; /* Jarak antar kolom */
  margin-bottom: 20px;
}

.image-column {
  
  flex: 1; /* Ukuran kolom gambar */
}

.image-column img {
  border: 1px solid #000;
  padding: 15px;
  width: 160px;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}

.text-column {
  flex: 2; /* Kolom teks lebih besar dari kolom gambar */
  text-align: left; /* Teks rata kiri */
}

.text-column h3 {
  margin-bottom: 5px;
  font-size: 20px;
  color: #3A6D8C;
}

.text-column p {
  color: #777;
}
.order-details .ket{
  color: #e74c3c;
  text-decoration: underline;
  margin-bottom: 5rem;
}

.order-column {
  flex: 2; /* Kolom pesanan */
  text-align: right; /* Teks total rata kanan */
}

.order-actions {
  
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px; /* Jarak antara tombol */
}

.order-btn {
  padding: 8px 12px;
  background-color: none;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.remove-btn {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: none;
  color: #3498db;
  border: none;
  cursor: pointer;
}

.remove-btn i {
  margin-right: 5px; /* Jarak antara ikon dan teks */
}

.remove-btn:hover,
.order-btn:hover {
  opacity: 0.9;
}

.order-details p {
  margin: 0;
  font-weight: bold;
}
.option-btn{
  padding: 10px;
border-radius: 15px;
border: 1px solid #000;
background-color: #ffffff;
cursor: pointer;
font-size: 16px;
}

.right-column {
  flex: 2; /* Kolom kanan lebih kecil */
  padding: 20px;
  width: 500px;
  
}
.det-kirim{
  width: 400px;
  background-color: #3A6D8C;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  height: 350px ;
  padding: 20px;
  color: #fff;
  
}
.det-kirim h3{
  margin-bottom: 20px;
}

.sender{
  justify-content: space-between;
  display: flex;
}
.sender .profile{
  flex: 1;
}
.sender .name{
  flex: 2;
  text-align: left;
  justify-content: center;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  text-decoration: underline;
}
.sender .chat-btn button{
  justify-content: space-between;
  background-color: #fff;
  color: #3A6D8C;
  padding: 7px 15px;
  border-radius: 15px;
  border: none;
  margin-bottom: 30px;
}
.sender .chat-btn button i{
  margin-right: 10px;
}
.det-kirim .order{
  padding: 10px 30px;
  background-color: #fff;
  margin-top: 30px;
  border: none;
  display: flex;
  justify-content: center;
  color: #3A6D8C;
  font-weight: bold;
  border-radius: 15px;
  width: 370px;
}
.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  border: 1px solid #000;
  border-radius: 5px;
  width: 100px;
  padding: 5px;
}

button {
  background-color: white;
  color: #000;
  border: none;    
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
}

button:focus {
  outline: none;
}



span.number {
  padding: 0 15px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.detail-header{
  justify-items: left;
  padding: 0;
  margin: 0;
  
  
}
.det-right-column {
  flex: 1; /* Kolom kanan lebih kecil */
  padding: 20px;
  width: 500px;
}

.det-center-column{
  flex: 3;
  padding: 20px;
  font-size: 16px;
  line-height: 30px;
}

.det-center-column .jdl{
  font-weight: bold;
}

.det-left-column {
  flex: 1; /* Kolom kiri akan lebih besar */
  background-color: #fff; /* Warna latar belakang kolom kiri */
  padding: 20px;
  justify-content: left;
  width: 350px;
}
.detail-image {
  padding: 0;
  flex: 1; /* Ukuran kolom gambar */
}

.detail-image img {
  border: 2px solid #3A6D8C;
  padding: 15px;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.box-img {
  justify-content: space-between;
  display: flex;
  margin: 5px;
  margin-top: 20px;
}
.box-img img{
  height: 75px;
  width: 75px;
  border: 2px solid #3A6D8C;
  padding: 7px;
}
.box-comments{
  margin-top: 20px;
}
.box-comments .rating i{
  color: #FFC400;
}
.box-comments h3{
  margin: 15px 0;
}
.comment{
  justify-content: space-between;
  display: flex;
}
.comment img{
  border: none;
  height: 80px;
  width: 80px;
  border-radius: 50%;

}
.comment .text{
  margin-top: 0;
}
.comment .text strong{
  margin-right: 10px;
}
.garis{
  border: 1px solid #3A6D8C;
  margin: 0;
}
.cont-rec {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 36px;
}
.rec{
  color: #3A6D8C;
  padding: 40px;
  padding-bottom: 0;
}
.detail-header{
  color: #3A6D8C;
}